<div class="row col reset-padding" *ngFor="let p of posts">
    <div class="post_user box row ">
        <div class="col-4 post_user-desc">
            <img src="https://lh3.googleusercontent.com/-xtXajHmN7ew/AAAAAAAAAAI/AAAAAAAAAAA/O1WoRYgD2xM/s128-c-k/photo.jpg"
                 class="circle">
            <span class="title">{{p.username}}</span>
            <p class="time">{{timeFromNow(p.created)}}
            </p>
        </div>
        <div class="col-8 post_user-content">
            <p>{{p.post}}</p>
        </div>

        <div class="col-12 post_user-actions">
            <div class="options">
                <i class="material-icons" (click)="likePost(p)"
                   [ngClass]="(!checkInLikesArray(p.likes, user.username)) ? 'notLiked' : 'liked' ">thumb_up</i>
                <span class="iconSpan">
                        {{p.totalLikes}}
                </span>
            </div>

            <div class="options">
                <i class="material-icons"
                   [ngClass]="(!checkInLikesArray(p.comments, user.username)) ? 'notLiked' : 'liked' "
                   (click)="openCommentBox(p)">chat</i>
                <span class="iconSpan">
                       {{p.comments.length}}
                </span>
            </div>
        </div>
    </div>
</div>