.card{
    border: none;
    box-shadow: 1px 3px 15px rgba(115, 132, 130, 0.28);
.card-img-top{
    width: 83%;
    margin: 14px auto;
    border-radius: 3%;
}
.card-body{
    padding: 0.5rem 0.8rem;
h5{font-size: 0.9em}
p{font-size: 0.8em}
a{font-size: 0.8em; margin-top: 10px;}
}
}
