<div class="row">
    <div class="col s12 m4">
        <a href=""><span>Posts</span></a>
        <p>10</p>
    </div>
    <div class="col s12 m4">
        <a href=""><span>Following</span></a>
        <p>10</p>
    </div>
    <div class="col s12 m4">
        <a href=""><span>Followers</span></a>
        <p>10</p>
    </div>
</div>
<ul class="collection with-header">
    <li class="collection-item">
        <div>Streams<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
    </li>
    <li class="collection-item">
        <div>Pessoas<a href="#!" class="secondary-content"><i class="material-icons">people</i></a></div>
    </li>
    <li class="collection-item">
        <div>Seguidores<a href="#!" class="secondary-content"><i class="material-icons">people_outline</i></a></div>
    </li>
    <li class="collection-item">
        <div>Fotos<a href="#!" class="secondary-content"><i class="material-icons">photo_library</i></a></div>
    </li>
    <li class="collection-item">
        <div>Notificações<a href="#!" class="secondary-content"><i class="material-icons">alarm</i></a></div>
    </li>
</ul>