<app-toolbar></app-toolbar>
<div class="container mg-top-20">
    <div class="row">
        <div class="col-md-3">
            <app-side></app-side>
        </div>

        <div class="col-md-9 no-padding">
            <div class="row">
                <div *ngIf="users.length; else notResult">
                <div class="col-md-3" *ngFor="let user of users">
                    <div class="card">
                        <img class="card-img-top"
                             src="https://lh3.googleusercontent.com/-xtXajHmN7ew/AAAAAAAAAAI/AAAAAAAAAAA/O1WoRYgD2xM/s128-c-k/photo.jpg"
                             alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{user.username}}</h5>
                            <p class="card-text">Some quick example</p>
                            <a href="#" class="btn btn-primary mg-top-10">Go somewhere</a>
                        </div>
                    </div>
                </div>
                </div>
                <ng-template #notResult>
                    <p>Sem usuários no momento...</p>
                </ng-template>
            </div>
        </div>

    </div>
</div>

