<div class="row col box" id="component_post">
    <form [formGroup]="postForm" novalidate (ngSubmit)="submitPost()">
        <div class="form-group">
            <textarea formControlName="post"  rows="2" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>

        <!--<div class="imagem">-->
            <!--<span><i class="material-icons">image</i>Imagem</span>-->
            <!--<input type="file">-->
        <!--</div>-->
        <button class="btn postBtn btn-primary">
            Post
        </button>
    </form>
</div>

