<nav class="box navbar-topo d-flex align-items-center ">
    <div class="container justify-content-center  align-items-center ">
        <div class="row">
            <div class="navbar-info col-md-4 d-flex align-items-center">
                <div class="d-flex align-items-center justify-content-center">
                    <i class="icon ion-md-locate"></i>

                    <p>Você está em:
                        <b> Porto Alegre</b>
                    </p>
                </div>
            </div>

            <div class="navbar-logo col-md-4">
                <h1>Astum</h1>
            </div>

            <div class="navbar-menu col-md-4 d-flex justify-content-end align-items-center">
                <ul class="d-flex justify-content-end">
                    <li>
                        <i class="icon ion-ios-notifications-outline"></i>
                    </li>
                    <li>
                        <i class="icon ion-ios-contact"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>